body {
    position: relative;
    font-family: 'Gothic', sans-serif;
    text-align: center;
    background: #1c1c1c; 
    overflow: hidden; 
}

body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(ellipse at center, transparent 40%, #5a189a 45%, #1c1c1c 47%);
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    transform: rotate(30deg);
}

body::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(ellipse at center, transparent 40%, #9d4edd 45%, #1c1c1c 47%);
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    transform: rotate(-30deg);
}
.foto{
    width: 20rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 30px auto;
    width: 320px;
}

.titulo{
    color: #fff;
}

.cell{
    font-size: 24px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #2b2b2b;
    cursor: pointer;
    border: 2px solid #4d4d4d;
    color: #fff;
}

.cell:hover{
    background-color: #5a189a;
}

.message{
    font-size: 40px;
    margin: 30px;
    color: #fff;
}